
@{
    ViewData["Title"] = "Carrossel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Catálogo</h3>

<div id="my-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_001.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">ASP.NET Core MVC</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=1">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_035.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">PostgreSQL</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=2">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_036.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Business Intelligence</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=3">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_037.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Seguran&#xE7;a</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=4">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="item ">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_038.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">gest&#xE3;o de produtos</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=5">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_039.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Algoritmos em Java</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=6">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_040.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Xamarin Forms</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=7">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_041.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Big Data</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=8">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="item ">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_042.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Scala</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=9">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_043.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Amazon AWS</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=10">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_044.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Protractor</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=11">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_045.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Livro Turbine seu CSS</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=12">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="item ">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_046.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Fragmentos do Programador</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=13">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_047.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Arduino Pr&#xE1;tico</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=14">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_048.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Entrega cont&#xED;nua em Android</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=15">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_049.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Orienta&#xE7;&#xE3;o a Objetos</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=16">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="item ">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_050.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Sass</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=17">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_051.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Lean Enterprise</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=18">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_052.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">requisi&#xE7;&#xF5;es Web</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=19">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_053.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Livro da jornada do empreendedor</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=20">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="item ">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_054.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">MCSA</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=21">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_055.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">NoSQL</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=22">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_056.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">GAE</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=23">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_057.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Refatora&#xE7;&#xE3;o com Ruby</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=24">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="item ">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_058.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Gest&#xE3;o de Produtos</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=25">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_059.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Livro Direto ao Ponto</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=26">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_060.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">SQL e Oracle </div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=27">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_061.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">PHP e MySQL</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=28">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="item ">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_062.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">NodeJS</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=29">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_063.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Web Mobile</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=30">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_034.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">ECMAScript 6</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=31">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_064.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Livro Guia da Startup</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=32">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="item ">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_033.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Elixir</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=33">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_031.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Vue.js</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=34">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_002.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Construct 2</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=35">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_003.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Marketing de conte&#xFA;do</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=36">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="item ">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_004.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Rust</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=37">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_005.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">App Inventor</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=38">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_006.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">GAE</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=39">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_007.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">App Inventor</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=40">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="item ">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_008.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">ASP.NET Core MVC</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=41">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_009.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Construct 2</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=42">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_010.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Marketing de conte&#xFA;do</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=43">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_011.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Rust</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=44">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="item ">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_012.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">App Inventor</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=45">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_013.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Front-end com Vue.js</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=46">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_014.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Orienta&#xE7;&#xE3;o a Objetos em C#</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=47">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_015.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Refatora&#xE7;&#xE3;o Java</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=48">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="item ">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_016.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Machine Learning</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=49">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_017.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Programa&#xE7;&#xE3;o funcional em .NET</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=50">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_018.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">OAuth 2.0</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=51">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_019.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Web Sem&#xE2;ntica</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=52">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="item ">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_020.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Ember.js</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=53">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_021.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Cangaceiro Javascript</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=54">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_022.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Spring Boot</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=55">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_023.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Learning 3.0</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=56">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="item ">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_024.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Ionic Framework</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=57">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_025.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Primeiros passos com Node.js</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=58">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_026.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">DSL</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=59">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_027.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">M&#xE9;tricas &#xC1;geis</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=60">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="item ">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_028.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Scratch</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=61">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_029.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Haskell</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=62">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_030.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Angular</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=63">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_032.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Lean Game Development</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=64">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="item ">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_065.jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">Cole&#xE7;&#xE3;o CodeIgniter &#x2B; Zend PHP</div>
                            <div>R$ 69,90</div>
                            <div class="text-center">
                                <a href="/Pedido/carrinho?produtoId=65">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>